/CheckersTests/bin/Debug/*.dll
/CheckersTests/bin/Debug/*.pdb
/CheckersTests/obj/Debug/*.txt
/CheckersTests/obj/Debug/*.cache
/CheckersTests/obj/Debug/*.dll
/CheckersTests/obj/Debug/*.pdb
/*.suo
/CheckersCore/bin/Debug/CheckersCore.dll
/CheckersCore/bin/Debug/CheckersCore.pdb
/CheckersCore/obj/Debug/CheckersCore.csproj.FileListAbsolute.txt
/CheckersCore/obj/Debug/CheckersCore.csprojResolveAssemblyReference.cache
/CheckersCore/obj/Debug/CheckersCore.dll
/CheckersCore/obj/Debug/CheckersCore.pdb
/CheckersCore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CheckersTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CheckersTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CheckersTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CheckersCore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CheckersCore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CheckersCore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
